.our-restos-section,
.how-it-works-section,
.get-app-section,
.above-footer,
.resto_bg,
.restaurent-info-container,
.near-by,
.res{
  padding: 100px;
}

.below-footer{
  padding: 30px;
}
.btn-width{
  width: 150px;
}
.txt-size{
  font-size: 13px;
}